#friend-navigation {
	h1 {
		font-size: calc(11px + 0.5vw);
		margin-top: 25px;
		text-align: center;
	}

	li {
		display: flex;
		align-items: center;

		.remove-friend {
			display: flex;
			svg {
				width: 16px;
				height: 16px;
				color: #bb0303;
				cursor: pointer;
			}
		}
	}
}