.Profile {
    .profile-block {
        position: relative;
        width: 25vw;
        margin: auto;
        margin-top: 8%;
        background-color: #e1e1e1;
        border-radius: 10px;
        padding: 0 1rem 1rem;

        .profile-block-avatar {
            display: flex;
            justify-content: center;
            // overflow: hidden;
            transform: translateY(-100px);

            img {
                width: 256px;
                height: 256px;
                border-radius: 100%;
                object-fit: cover;
                outline: 10px solid #e1e1e1;
            }
        }

        .profile-block-content {
            margin-top: -90px;
            display: flex;
            flex-flow: column nowrap;
            gap: .5rem;

            .profile-block-content-header {
                font-size: 1.5rem;
                font-weight: 600;
                text-align: center;
            }

            .profile-block-content-created {
                font-size: 1.1rem;
                text-align: right;
            }

            .profile-block-content-list {
                display: flex;
                flex-flow: column nowrap;
                gap: .5rem;

                .profile-block-content-list-element {
                    display: flex;
                    justify-content: space-between;

                    label {
                        width: 14rem;
                    }

                    input {
                        width: 100%;
                    }
                }
            }
        }

        .profile-block-footer{
            margin-top: 1rem;
            display: flex;
            justify-content: flex-end;

            .profile-block-button {
                color: white;
                width: 5rem;
                padding: .25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                background-color: #5865f2;
                cursor: pointer;
            }
        }

        .separator {
            width: 100%;
            height: 2px;
            background-color: #5865f2;
            margin: .75rem 0;
        }
    }
}