#dashboard {
	display: flex;
	flex-direction: row;
	height: 100%;

	padding: 20px;

	justify-content: space-around;

	background-color: var(--dashboard_bg_color);

	#infos {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		border-right: solid 1px var(--auth_form_border_color);
	}

	.renderView {
		width: calc(100% - 30vh);

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		background-color: var(--main_bg_color);
		border-radius: 20px;

		.innerNavigation {
			width: 25vh;

			box-shadow: 5px -5px 10px var(--dashboard_shadow_color);

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			border-radius: 20px 0px 0px 20px;

			
		}

		.renderComponent {
			width: calc(100% - 25.5vh);
			background-color: white;
			border-radius: 0px 20px 20px 0px;

			background-color: var(--main_bg_color);

			box-shadow: 5px -5px 10px var(--dashboard_shadow_color);
		}
	}
}