@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap%27");

body{
	margin: 0;

	--signin_submit_btn_color: white;
	--green_button: #4f772d;
	--green_button_hover: #5e8a37;
	--auth_error_color: #d62828;
	--red_button: #d62828;
	--red_button_hover: #c93838;
}

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#light {
	--main_text_color : black;
	--main_bg_color: #ffffff;
	--color_h1: #000;
	--nevbar_link_color: #000;
	--auth_form_border_color: grey;
	--auth_form_box_shadow_color : rgba(0, 0, 0, 0.1);
	--auth_label_color : grey;
	--usercard_setting_color: #495057;
	--usercard_setting_bg_color: #daddd8;
}

#dark {
	--main_text_color : white;
	--main_bg_color: #212529;
	--color_h1: #ffffff;
	--nevbar_link_color: #ffffff;
	--auth_form_border_color: #3a3f45;
	--auth_form_box_shadow_color : none;
	--auth_label_color : rgb(216, 204, 204);
	--usercard_setting_color: #ced4da;
	--usercard_setting_bg_color: #3a3f45;
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	font-family: "Roboto", sans-serif !important;
	color: var(--main_text_color);

	background-color: var(--main_bg_color);
	transition-property: background-color, color;
	transition-duration: 0.2s;

	h1 {
		color: var(--color_h1);
	}
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--main_bg_color);
}

::-webkit-scrollbar{
	width: 5px;
	background-color: var(--main_bg_color);
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}