@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap%27");

body{
	margin: 0;

	--signin_submit_btn_color: white;
	--green_button: #4f772d;
	--green_button_hover: #5e8a37;
	--auth_error_color: #d62828;
	--red_button: #d62828;
	--red_button_hover: #c93838;
}

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#light {
	--main_text_color : black;
	--main_bg_color: #ffffff;
	--color_h1: #000;
	--nevbar_link_color: #000;
	--auth_form_border_color: grey;
	--auth_form_box_shadow_color : rgba(0, 0, 0, 0.1);
	--auth_label_color : grey;
	--usercard_setting_color: #495057;
	--usercard_setting_bg_color: #daddd8;
	--dashboard_bg_color: #e8e8e4;
	--dashboard_shadow_color: #d3d3d3;
	--hover-color: #f7f0ee;
}

#dark {
	--main_text_color : white;
	--main_bg_color: #212529;
	--color_h1: #ffffff;
	--nevbar_link_color: #ffffff;
	--auth_form_border_color: #3a3f45;
	--auth_form_box_shadow_color : none;
	--auth_label_color : rgb(216, 204, 204);
	--usercard_setting_color: #ced4da;
	--usercard_setting_bg_color: #3a3f45;
	--dashboard_bg_color: #373E45;
	--dashboard_shadow_color: #4b4d4e;
	--hover-color: #3d3f42 ;
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	font-family: "Roboto", sans-serif !important;
	color: var(--main_text_color);

	background-color: var(--main_bg_color);
	transition-property: background-color, color;
	transition-duration: 0.2s;

	h1 {
		color: var(--color_h1);
	}
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--main_bg_color);
}

::-webkit-scrollbar{
	width: 5px;
	background-color: var(--main_bg_color);
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.modal {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	min-width: 450px;

	border-radius: 5px;

	padding: 15px 20px;

	font-family: "Roboto", sans-serif !important;
	background-color: white;
	
	h1 {
		margin: 0;
		font-size: calc(14px + 0.5vw);
		font-weight: 500;
		margin-bottom: 10px;
	}

	.modalBody {
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.modalContent {
			flex-grow: 4;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.modalAction {
			display: flex;
			flex-direction: row;
			justify-content: end;
			margin-bottom: 5px;
			margin-top: 5px;

			.modalButton {
				display: flex;
				color: white;
				align-items: center;
				margin-left: 20px;
				padding: 0px 10px;
				height: calc(30px + 0.4vh) ;
				font-size: calc(10px + 0.4vw);
				font-weight: 400;
				background-color: white;
				border: none;
			}

			.buttonCancel {
				color: var(--red_button);
			}

			.buttonCancel:hover {
				cursor: pointer;
				color: var(--red_button_hover);
			}

			.buttonSubmit {
				color: var(--green_button);
			}

			.buttonSubmit:hover {
				cursor: pointer;
				color: var(--green_button_hover);
			}
		}
	}

}


